<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Branch List</title>
</head>
<body>
<h1>Branch List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Type</th>
    </tr>
    <tr th:each="branch : ${branches}">
        <td th:text="${branch.pk_BranchID}"></td>
        <td th:text="${branch.nameBranch}"></td>
        <td th:text="${branch.countryBranch}"></td>
        <td th:text="${branch.typeBranch}"></td>
    </tr>
</table>
</body>
</html>

